.card {
  width: 20rem;
  height: 16rem;
  perspective: 1000px;
  cursor: pointer;
  scrollbar-gutter: stable;

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &.flipped &-inner {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-sizing: border-box;
  }

  &-front {
    background: white;
    color: #333;
    text-align: center;
    padding: 2rem;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      box-sizing: content-box;
    }
  }

  &-back {
    background: #f9f9f9;
    color: #333;
    transform: rotateY(180deg);
    border: 0.5px solid #eaeaea;

    .card-content {
      text-align: center;
      overflow-y: auto;
      height: 100%;
      min-width: fit-content;
      scrollbar-width: thin;
      scrollbar-color: #d2d2d2 transparent;
      padding: 2rem;
      box-sizing: content-box;

      &::-webkit-scrollbar {
        width: 6px;
        background: transparent;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #5c4d4d;
        border-radius: 3px;
      }
    }
  }

  &-name {
    font-family: "UnifrakturCook", cursive;
    font-size: 1.8rem;
    overflow-wrap: break-word;
    line-height: 2rem;
    margin-bottom: 1.2rem;
    color: inherit;
  }

  &-house, &-type {
    font-family: "IM Fell English", serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 1rem;
    display: inline-block;
  }

  &-detail {
    font-family: "IM Fell English", serif;
    font-size: 0.9rem;
  }

  // house themes
  &.house {
    &-gryffindor {
      .card-front {
        background-color: #740001;
        color: #ffdb58;
      }
      .card-house {
        background-color: #d3a625;
        color: #740001;
      }
    }
    &-slytherin {
      .card-front {
        background-color: #1a472a;
        color: #aaaaaa;
      }
      .card-house {
        background-color: #aaaaaa;
        color: #1a472a;
      }
    }
    &-hufflepuff {
      .card-front {
        background-color: #ecb939;
        color: #372e29;
      }
      .card-house {
        background-color: #372e29;
        color: #ecb939;
      }
    }
    &-ravenclaw {
      .card-front {
        background-color: #0e1a40;
        color: #946b2d;
      }
      .card-house {
        background-color: #946b2d;
        color: #0e1a40;
      }
    }
    &-no-house {
      .card-front {
        background-color: #5d5d5d;
        color: #ffffff;
      }
      .card-house {
        background-color: #9e9e9e;
        color: #5d5d5d;
      }
    }
  }

  // potion and spell themes
  &.potion-theme {
    .card-front {
      background-color: #6a3093;
      color: #ffffff;
    }
    .card-type {
      background-color: #a044ff;
      color: white;
    }
  }

  &.spell-theme {
    .card-front {
      background-color: #11998e;
      color: #ffffff;
    }
    .card-type {
      background-color: #38ef7d;
      color: #333;
    }
  }
}

.card-gap-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}