.loader-page {
  position: relative;
  min-height: 100vh;
    
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../public/assets/marauders-map.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .loader-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;

    .loader {
      border: 5px solid rgba(243, 243, 243, 0.3);
      border-top: 5px solid #d4af37;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
      margin-bottom: 20px;
      box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
    }

    p {
      color: #d4af37;
      font-family: "IM Fell English", serif;
      font-size: 1.5rem;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.638);
    }
  }
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}